.header{
    background-color: #000;
    width: 100%;
    display: flex;
    padding: 1% 0 1% 0;
    border: 4px solid #eee;
}
.header .logoheader img{
    margin: 0 0 0 30%;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 0px;
}